//
//  Copyright © 2018 Netguru Sp. z o.o. All rights reserved.
//  Licensed under the MIT License.
//

#include "../xcconfigs/Common/Common.xcconfig"
#include "../xcconfigs/Platforms/iOS.xcconfig"
#include "../xcconfigs/Targets/Application.xcconfig"

_BUNDLE_NAME = Bluetooth Demo
_BUNDLE_IDENTIFIER = co.netguru.sample.bluetooth
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/Bluetooth/Supporting Files/Info.plist
_BUNDLE_TESTABLE = NO

PRODUCT_BUNDLE_VERSION_STRING = 1.0.0
PRODUCT_BUNDLE_VERSION = 1

_CLANG_ENABLE_MODULES = YES
_DEFINES_MODULE = YES
_LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
_COMPILER_SWIFT_VERSION = 4.1

_DEPLOYMENT_TARGET_IOS = 10.0
_CODESIGN_STYLE = Manual

_CODESIGN_IDENTITY = iPhone Developer
