//
//  Copyright © 2018 Netguru Sp. z o.o. All rights reserved.
//  Licensed under the MIT License.
//

#include "../xcconfigs/Targets/Framework.xcconfig"
#include "../xcconfigs/Platforms/iOS.xcconfig"

_BUNDLE_NAME = Bluetooth
_BUNDLE_IDENTIFIER = co.netguru.lib.bluetooth
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/Framework/Supporting Files/Info.plist
_BUNDLE_TESTABLE = YES

_COMPILER_SWIFT_VERSION = 4.1

PRODUCT_BUNDLE_VERSION_STRING = 1.0.0
PRODUCT_BUNDLE_VERSION = 1
