//
//  Copyright © 2018 Netguru Sp. z o.o. All rights reserved.
//  Licensed under the MIT License.
//

#include "../xcconfigs/Platforms/iOS.xcconfig"
#include "../xcconfigs/Targets/Framework.xcconfig"

_BUNDLE_NAME = BlueSwift
_BUNDLE_IDENTIFIER = co.netguru.lib.blueswift
_BUNDLE_INFOPLIST_PATH = $(PROJECT_DIR)/Framework/Supporting Files/Info.plist

ENABLE_TESTABILITY = YES

// Build library for distribution to enable Swift library evolution
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
